<div class="row">
	<div class="small-12 columns">
	<h1>My profile</h1>
</div>
</div>
<%= render 'form' %>
<div class="row">
	<div class="small-12 columns">
		<%= link_to 'Show', @profile, :class=>'button tiny round disabled' %> 
		<%= link_to 'Back', profiles_path, :class=>'button tiny round disabled' %>
	</div>
</div>