<div class="row">
  <h1>Yegfilm Directory</h1>
  <h2>Find other Edmonton filmmakers!</h2>
</div>
  <div class="row">
  <div id="filters" class="button-group">
    <button data-filter="*"><strong>Reset List</strong></button>
    <button data-filter=".camera">Camera</button>
    <button data-filter=".sound">Sound</button>
    <button data-filter=".writing">Writing</button>
    <button data-filter=".animation">Animation</button>
    <button data-filter=".acting">Acting</button>
    <button data-filter=".lighting">Lighting</button>
    <button data-filter=".grip">Grip</button>
    <button data-filter=".music">Music</button>
    <button data-filter=".photography">Photography</button>
    <button data-filter=".artdept">Art Department</button>
    <button data-filter=".setops">Set Operations</button>
    <button data-filter=".locations">Locations</button>
    <button data-filter=".directing">Directing</button>
    <button data-filter=".producing">Producing</button>
    <button data-filter=".wardrobe">Wardobe</button>
    <button data-filter=".food">Food</button>
  </div>

</div>

  <div id="container" class="js-masonry row">
 

    <% @profiles.each do |profile| %>
        <div class="small-12 medium-3 large-3 columns item card 
        <% if profile.camera == true %> camera <%end%> 
        <% if profile.sound==true %> sound<% end %>
        <% if profile.writing==true %> writing<% end %>
        <% if profile.animation == true %> animation <%end%> 
        <% if profile.acting==true %> acting<% end %>
        <% if profile.lighting==true %> lighting<% end %>
        <% if profile.locations==true %> locations<% end %>
        <% if profile.grip == true %> grip <%end%> 
        <% if profile.music==true %> music<% end %>
        <% if profile.photography==true %> photography<% end %>     
        <% if profile.artdept == true %> artdept <%end%> 
        <% if profile.setops==true %> setops<% end %>
        <% if profile.directing==true %> directing<% end %>
        <% if profile.producing == true %> producing <%end%> 
        <% if profile.wardrobe==true %> wardrobe<% end %>
        <% if profile.food==true %> food<% end %>
        ">
          <p>
          <% if profile.availability == true %>
            <div class="availability green"><i class="fa fa-check-circle"></i> Yes, I am currently available for projects</div>
          <% else %>
            <div class="no-availability red"><i class="fa fa-times-circle"></i> No, I am not currently available for projects</div>
          <% end %>

        </p>
             <img src="<%= profile.picture %>"/>
        <h3><%= profile.name %></h3>
        <strong><%= profile.name %>'s Skills</strong>
        <ul>
          <% if profile.camera == true %>
            <li>Cinematography &amp; Camera Ops</li>
          <% end %>
          <% if profile.sound == true %>
            <li>Sound Recording &amp; Mixing</li>
          <% end %>

          <% if profile.writing == true %>
            <li>Writing</li>
          <% end %>

          <% if profile.animation == true %>
            <li>Motion Graphics &amp;Animation </li>
          <% end %>

          <% if profile.acting  == true %>
            <li>Acting</li>
          <% end %>

          <% if profile.lighting  == true %>
            <li>Lighting</li>
          <% end %>

          <% if profile.grip  == true %>
            <li>Grip</li>
          <% end %>

          <% if profile.music == true %>
            <li>Music</li>
          <% end %>

          <% if profile.photography == true %>
            <li>Still Photography</li>
          <% end %>

          <% if profile.artdept == true %>
            <li>Art Department</li>
          <% end %>

          <% if profile.locations == true %>
            <li>Locations</li>
          <% end %>

          <% if profile.directing == true %>
            <li>Directing</li>
          <% end %>

          <% if profile.producing == true %>
            <li>Producing</li>
          <% end %>

          <% if profile.setops == true %>
            <li>Set Operations</li>
          <% end %>

          <% if profile.hair == true %>
            <li>Hair</li>
          <% end %>

          <% if profile.wardrobe == true %>
            <li>Wardrobe</li>
          <% end %>

          <% if profile.food == true %>
            <li>Food</li>
          <% end %>

        </p>
        
        <%= link_to 'Show', profile, :class=>"button tiny round" %>
 
    </div>
    <% end %>

</div>
<br>
