body {
	background-color: #000 !important;
}

h1 {
	font-family: 'Cabin', sans-serif;
	font-weight: 800;
	color: #fff;
}

h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	color: #fff;
}

h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 2rem;
}
.card {
	border: dashed 1px #e6e6e6;
	background-color: #fff;
	margin: 5px;
}

.green {
	color: green;
}

.red {
	color: red;
}


.white-bg {
	background-color: #fff;
	padding:20px;
}

.underline {
	text-decoration: underline;
}



/* NAV
=========================*/
.top-bar {
	color: #fff;
	height: auto;
	background-color: transparent;
	
	ul {
		
		li {
			float: left;
			margin: 20px;
			
			a {
				color: #fff;
			}
		}
		
	}
}

/* SELECTS
======================*/
#filters {
	button {
		font-family: 'Cabin', sans-serif;
		
	}
}

/* INDEX CARDS
======================*/

.availability {
	background-color: green;
	padding: 5px;
	color: #fff;
}

.no-availability {
	background-color: #A81B1B;
	padding: 5px;
	color: #fff;
}


img {
	height: 100px;
	width:100px;
	border-radius: 50%;
	clear:both;
}