

h1 {
	font-family: 'Cabin', sans-serif;
	font-weight: 800;
}

h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	color: #fff;
}

h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 2rem;
}
.card {
	border: solid 1px gray;
	padding: 10px;
	margin: 10px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.item {
	@extend .small-4;
	@extend .column;
}


.underline {
	text-decoration: underline;
}



/* NAV
=========================*/
.top-bar {
	color: #fff;
	height: auto;
	
	ul {
		
		li {
			float: left;
			margin: 20px;
			
			a {
				color: #fff;
			}
		}
		
	}
}

/* SELECTS
======================*/
#filters {
	button {
		font-family: 'Cabin', sans-serif;
		
	}
}

/* INDEX CARDS
======================*/
img {
	height: 100px;
	width:100px;
	border-radius: 50%;
	clear:both;
}